:root {
  --primary-color: #2e7d32;
  --secondary-color: #388e3c;
  --accent-color: #8bc34a;
  --light-color: #f5f5f5;
  --dark-color: #333;
  --text-color: #212121;
  --font-main: 'Nunito', sans-serif;
}